<htm>
    <head>
        <link rel="stylesheet" href="/css/chatter.css">
    </head>
    <body>
        <div id="chatter">
            <div id="main-one">
            <ul>
                <div class="other-message">
                <li>
                    
                        <span>Other Messsage</span>
                    
                </li>
            </div>
            <div class="my-message">
                <li>
                   <span>My Message</span>
                </li>
            </div>
            </ul>
        </div>
        <div class="chat-submit">
            <input type="text" placeholder="send message" class="shr1">
            <input type="submit" value="Send Message" class="shr2">
        </div>
    </div>
    </body>
</htm>